In [2]:
import pandas as pd

In [34]:
df = pd.DataFrame({"id": ["ID1", "ID2", "ID3", "ID4", "ID5", "ID6", "ID7", "ID8", "ID9"],
                   "metro": ["MSA 1", "MSA 1", "MSA 1", "MSA 1", "MSA 1", "MSA 2", "MSA 2", "MSA 2", "MSA 2"],
                   "educ": ["BA", "BA", "BA", "HS", "HS", "BA", "BA", "HS", "HS"],
                   "sex": ["M", "F", "F", "F", "M", "M", "F", "F", "M"],
                   "question1": ["2 - Not likely", "2 - Not likely", "1 - Somewhat to very likely", "2 - Not likely", "1 - Somewhat to very likely", "2 - Not likely", "1 - Somewhat to very likely", "2 - Not likely", "2 - Not likely"],
                   "question2": ["2 - Not enough to eat", "1 - Enough to eat", "2 - Not enough to eat", "1 - Enough to eat", "2 - Not enough to eat", "1 - Enough to eat", "2 - Not enough to eat", "1 - Enough to eat", "2 - Not enough to eat"],
                   "weight": [0.8, 1.3, 2.5, 1.4, 0.7, 0.9, 1.2, 1.1, 0.9]})

In [35]:
# generate the topline column
df['topline'] = 'Topline'
df

    id  metro educ  ...              question2 weight  topline
0  ID1  MSA 1   BA  ...  2 - Not enough to eat    0.8  Topline
1  ID2  MSA 1   BA  ...      1 - Enough to eat    1.3  Topline
2  ID3  MSA 1   BA  ...  2 - Not enough to eat    2.5  Topline
3  ID4  MSA 1   HS  ...      1 - Enough to eat    1.4  Topline
4  ID5  MSA 1   HS  ...  2 - Not enough to eat    0.7  Topline
5  ID6  MSA 2   BA  ...      1 - Enough to eat    0.9  Topline
6  ID7  MSA 2   BA  ...  2 - Not enough to eat    1.2  Topline
7  ID8  MSA 2   HS  ...      1 - Enough to eat    1.1  Topline
8  ID9  MSA 2   HS  ...  2 - Not enough to eat    0.9  Topline

[9 rows x 8 columns]

In [36]:
df1 = df.melt(id_vars=['id','metro','topline','educ','sex','weight'], 
              value_vars=['question1', 'question2'], 
              var_name='question_group', 
              value_name='question_val')
df1

     id  metro  topline  ... weight question_group                 question_val
0   ID1  MSA 1  Topline  ...    0.8      question1               2 - Not likely
1   ID2  MSA 1  Topline  ...    1.3      question1               2 - Not likely
2   ID3  MSA 1  Topline  ...    2.5      question1  1 - Somewhat to very likely
3   ID4  MSA 1  Topline  ...    1.4      question1               2 - Not likely
4   ID5  MSA 1  Topline  ...    0.7      question1  1 - Somewhat to very likely
5   ID6  MSA 2  Topline  ...    0.9      question1               2 - Not likely
6   ID7  MSA 2  Topline  ...    1.2      question1  1 - Somewhat to very likely
7   ID8  MSA 2  Topline  ...    1.1      question1               2 - Not likely
8   ID9  MSA 2  Topline  ...    0.9      question1               2 - Not likely
9   ID1  MSA 1  Topline  ...    0.8      question2        2 - Not enough to eat
10  ID2  MSA 1  Topline  ...    1.3      question2            1 - Enough to eat
11  ID3  MSA 1  Topline  ...    2.5      question2        2 - Not enough to eat
12  ID4  MSA 1  Topline  ...    1.4      question2            1 - Enough to eat
13  ID5  MSA 1  Topline  ...    0.7      question2        2 - Not enough to eat
14  ID6  MSA 2  Topline  ...    0.9      question2            1 - Enough to eat
15  ID7  MSA 2  Topline  ...    1.2      question2        2 - Not enough to eat
16  ID8  MSA 2  Topline  ...    1.1      question2            1 - Enough to eat
17  ID9  MSA 2  Topline  ...    0.9      question2        2 - Not enough to eat

[18 rows x 8 columns]

In [37]:
df2 = df1.melt(id_vars=['id','metro','question_group','question_val','weight'], 
              value_vars=['topline','educ','sex'], 
              var_name='xtab_group', 
              value_name='xtab_val') 	

df2

     id  metro question_group  ... weight  xtab_group xtab_val
0   ID1  MSA 1      question1  ...    0.8     topline  Topline
1   ID2  MSA 1      question1  ...    1.3     topline  Topline
2   ID3  MSA 1      question1  ...    2.5     topline  Topline
3   ID4  MSA 1      question1  ...    1.4     topline  Topline
4   ID5  MSA 1      question1  ...    0.7     topline  Topline
5   ID6  MSA 2      question1  ...    0.9     topline  Topline
6   ID7  MSA 2      question1  ...    1.2     topline  Topline
7   ID8  MSA 2      question1  ...    1.1     topline  Topline
8   ID9  MSA 2      question1  ...    0.9     topline  Topline
9   ID1  MSA 1      question2  ...    0.8     topline  Topline
10  ID2  MSA 1      question2  ...    1.3     topline  Topline
11  ID3  MSA 1      question2  ...    2.5     topline  Topline
12  ID4  MSA 1      question2  ...    1.4     topline  Topline
13  ID5  MSA 1      question2  ...    0.7     topline  Topline
14  ID6  MSA 2      question2  ...    0.9     topline  Topline
15  ID7  MSA 2      question2  ...    1.2     topline  Topline
16  ID8  MSA 2      question2  ...    1.1     topline  Topline
17  ID9  MSA 2      question2  ...    0.9     topline  Topline
18  ID1  MSA 1      question1  ...    0.8        educ       BA
19  ID2  MSA 1      question1  ...    1.3        educ       BA
20  ID3  MSA 1      question1  ...    2.5        educ       BA
21  ID4  MSA 1      question1  ...    1.4        educ       HS
22  ID5  MSA 1      question1  ...    0.7        educ       HS
23  ID6  MSA 2      question1  ...    0.9        educ       BA
24  ID7  MSA 2      question1  ...    1.2        educ       BA
25  ID8  MSA 2      question1  ...    1.1        educ       HS
26  ID9  MSA 2      question1  ...    0.9        educ       HS
27  ID1  MSA 1      question2  ...    0.8        educ       BA
28  ID2  MSA 1      question2  ...    1.3        educ       BA
29  ID3  MSA 1      question2  ...    2.5        educ       BA
30  ID4  MSA 1      question2  ...    1.4        educ       HS
31  ID5  MSA 1      question2  ...    0.7        educ       HS
32  ID6  MSA 2      question2  ...    0.9        educ       BA
33  ID7  MSA 2      question2  ...    1.2        educ       BA
34  ID8  MSA 2      question2  ...    1.1        educ       HS
35  ID9  MSA 2      question2  ...    0.9        educ       HS
36  ID1  MSA 1      question1  ...    0.8         sex        M
37  ID2  MSA 1      question1  ...    1.3         sex        F
38  ID3  MSA 1      question1  ...    2.5         sex        F
39  ID4  MSA 1      question1  ...    1.4         sex        F
40  ID5  MSA 1      question1  ...    0.7         sex        M
41  ID6  MSA 2      question1  ...    0.9         sex        M
42  ID7  MSA 2      question1  ...    1.2         sex        F
43  ID8  MSA 2      question1  ...    1.1         sex        F
44  ID9  MSA 2      question1  ...    0.9         sex        M
45  ID1  MSA 1      question2  ...    0.8         sex        M
46  ID2  MSA 1      question2  ...    1.3         sex        F
47  ID3  MSA 1      question2  ...    2.5         sex        F
48  ID4  MSA 1      question2  ...    1.4         sex        F
49  ID5  MSA 1      question2  ...    0.7         sex        M
50  ID6  MSA 2      question2  ...    0.9         sex        M
51  ID7  MSA 2      question2  ...    1.2         sex        F
52  ID8  MSA 2      question2  ...    1.1         sex        F
53  ID9  MSA 2      question2  ...    0.9         sex        M

[54 rows x 7 columns]

In [61]:
df3 = df2.groupby(['metro', 'question_group', 'question_val', 'xtab_group', 'xtab_val']).agg({'weight': 'sum'}).reset_index()

df3["weight_total"] = df3.groupby(['metro','question_group','xtab_group'])['weight'].transform('sum')
df3["share"] = df3.weight/df3.weight_total

df3["weight_total_val"] = df3.groupby(['metro','question_group','xtab_group','xtab_val'])['weight'].transform('sum')
df3["share_val"] = df3.weight/df3.weight_total_val
df3.sort_values(by= ['metro', 'question_group', 'xtab_group'], inplace=True, ascending=True)
df3

    metro question_group  ... weight_total_val share_val
0   MSA 1      question1  ...              4.6  0.543478
1   MSA 1      question1  ...              2.1  0.333333
5   MSA 1      question1  ...              4.6  0.456522
6   MSA 1      question1  ...              2.1  0.666667
2   MSA 1      question1  ...              5.2  0.480769
3   MSA 1      question1  ...              1.5  0.466667
7   MSA 1      question1  ...              5.2  0.519231
8   MSA 1      question1  ...              1.5  0.533333
4   MSA 1      question1  ...              6.7  0.477612
9   MSA 1      question1  ...              6.7  0.522388
10  MSA 1      question2  ...              4.6  0.282609
11  MSA 1      question2  ...              2.1  0.666667
14  MSA 1      question2  ...              4.6  0.717391
15  MSA 1      question2  ...              2.1  0.333333
12  MSA 1      question2  ...              5.2  0.519231
16  MSA 1      question2  ...              5.2  0.480769
17  MSA 1      question2  ...              1.5  1.000000
13  MSA 1      question2  ...              6.7  0.402985
18  MSA 1      question2  ...              6.7  0.597015
19  MSA 2      question1  ...              2.1  0.571429
22  MSA 2      question1  ...              2.1  0.428571
23  MSA 2      question1  ...              2.0  1.000000
20  MSA 2      question1  ...              2.3  0.521739
24  MSA 2      question1  ...              2.3  0.478261
25  MSA 2      question1  ...              1.8  1.000000
21  MSA 2      question1  ...              4.1  0.292683
26  MSA 2      question1  ...              4.1  0.707317
27  MSA 2      question2  ...              2.1  0.428571
28  MSA 2      question2  ...              2.0  0.550000
32  MSA 2      question2  ...              2.1  0.571429
33  MSA 2      question2  ...              2.0  0.450000
29  MSA 2      question2  ...              2.3  0.478261
30  MSA 2      question2  ...              1.8  0.500000
34  MSA 2      question2  ...              2.3  0.521739
35  MSA 2      question2  ...              1.8  0.500000
31  MSA 2      question2  ...              4.1  0.487805
36  MSA 2      question2  ...              4.1  0.512195

[37 rows x 10 columns]